.fa-icon {
    font-size: 60px;
    color: white;
}

#db .panel p {
    color: #555;
}

/* project 'cards' - with an image, etc*/
.card {
    text-align: center;
}

.card a, .card h3 {
    color: #428bca !important;
}

.main-blog {
    padding-top: 20px; /* was 90px */
}

body {
    background-color: white;

}

.blog-date-nopad {
	padding-top: 0px;
}

.blog-date-nopad p
{
    margin-bottom: 0px !important;

}

.blog-archive-mod
{
    padding-top: 0px !important;
    margin-bottom: 0px !important;

}


