---
layout: default
title: Ross Rosen
---

<div class="container">
    <br>
    <br>

    {% for post in site.posts offset: 0 limit: 5 %}
    <div class="row main-blog"> <!-- Single post -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-3 blog-date">
                    <p>
                        <b>Published</b><br/>
                        {{ post.date | date_to_string }}
                    </p>
                </div>
                <div class="col-md-9 blog-title">
                    <h2><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></h2>
                </div>
            </div>

            <br>

            <div class="col-md-9 col-md-offset-3">
                {{ post.content }}
                <br>
                <hr>
            </div>


    </div>
        {% if forloop.first %}
                <div class="col-lg-4 sidebar-zone">
                    <h6>ABOUT</h6>

                    <p>This blog focuses on random business things I've felt like sharing. It's mostly an archive (but
                        there is some good stuff is in here, if I do say so myself).</p>
                    <br>
                    <br>
                    <br>
                </div>
            {% endif %}
        </div>
    {% endfor %}

</div>