{% for category in site.categories %}

    {% if category[0] == page.rcategory %}


        <div class="container">
            <div class="main-blog">
                <div class="row">
                    <div class="col-lg-8">


                        {% for catposts in category %}
                            {% if forloop.first %}
                                {% continue %}
                            {% endif %}
                            {% for catpost in catposts %}
                                {% if forloop.index0 < site.blog_full_posts_before_list %}

                                    <div class="row main-blog">
                                        <div class="row">
                                            <div class="col-md-3 blog-date">
                                                <p>
                                                    {{ catpost.date | date: "%d %b %y" }}
                                                </p>
                                            </div>
                                            <div class="col-md-9 blog-title">
                                                <h2><a href="{{ site.prefix }}{{ catpost.url }}">{{ catpost.title }}</a>
                                                </h2>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="col-md-9 col-md-offset-3">
                                            {{ catpost.content }}
                                            <br>
                                            <hr>
                                        </div>


                                    </div>




                                {% endif %}

                            {% endfor %}
                        {% endfor %}

                        <h1>ARCHIVE</h1>
                        <br>

                        {% for catposts in category %}
                            {% for catpost in catposts %}

                                <div class="row main-blog blog-archive-mod">

                                    <div class="row">
                                        <div class="col-md-3 blog-date blog-date-nopad ">
                                            <p>
                                                {{ catpost.date | date: "%d %b %y" }}
                                            </p>
                                        </div>
                                        <div class="col-md-9 ">
                                            <a href="{{ site.prefix }}{{ catpost.url }}">{{ catpost.title }}</a>
                                        </div>
                                    </div>


                                </div>
                            {% endfor %}
                        {% endfor %}


                    </div>
                    <div class="col-lg-4 ">

                        <div class="sidebar-zone">
                            {% include blog_sidebar.html %}
                        </div>
                    </div>
                </div>

            </div>


        </div>

        <br>
        <br>
        <br>

    {% endif %}
{% endfor %}