<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="{{ "/js/html5shiv.js" | prepend: site.theme | prepend: site.baseurl }}"></script>
<script src="{{ "/js/respond.min.js | prepend: site.theme | prepend: site.baseurl }}"></script>
<![endif]-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ "/js/modernizr.custom.js" | prepend: site.theme | prepend: site.baseurl }}"></script>
<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>