---
layout: default
title: Ross Rosen
---

<div class="container">
    <br>
    <br>


    {% for post in site.categories.bizblog %}
    {% if forloop.index0 < site.blog_full_posts_before_list %}

    <div class="row main-blog"> <!-- Single post -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-3 blog-date">
                    <p>
                        {{ post.date | date_to_string }}
                    </p>
                </div>
                <div class="col-md-9 blog-title">
                    <h2><a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a></h2>
                </div>
            </div>

            <br>

            <div class="col-md-9 col-md-offset-3">
                {{ post.content }}
                <br>
                <hr>
            </div>


        </div>
        {% if forloop.first %}
        {% include blog_sidebar.html %}
        {% endif %}
    </div>


    {%endif%}
    {% endfor %}

    <h1>ARCHIVE</h1>
    <br>

    {% for post in site.categories.bizblog %}
    <div class="row main-blog blog-archive-mod"> <!-- Single post -->
        <div class="col-lg-8">
            <div class="row">
                <div class="col-md-3 blog-date blog-date-nopad ">
                    <p>
                        {{ post.date | date_to_string }}
                    </p>
                </div>
                <div class="col-md-9 ">
                    <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

<br>
<br>
<br>